<body>
<h1> ~Fortunate Fools~ </h1>

<form method = "POST" action = "/results">
  <p> What's your name? <input type= "text" name= "name" >
  </p>
  <p> What's your sign? <input type= "text" name= "sign"> </p>
  <p> Have you been to a fortune teller before? <input type= "text" name= "been_before"> </p>
  <input type= "submit">
  </form>
</body>